<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kommentar schreiben</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--<h1>Neuen Kommentar schreiben</h1>
<form th:object="${comment}" th:action="@{/{articleId}/comment/submit(articleId=${articleId})}" method="post">
    Kommentar: <input type="text" th:field="*{text}">
    <br>
    <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
    <button type="submit">Abschicken</button>
</form>-->

<section class="hero is-link is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form class="box" th:object="${comment}" th:action="@{/{articleId}/comment/submit(articleId=${articleId})}" method="post">
                        <div class="field">
                            <label class="label">Kommentar schreiben</label>
                            <div class="control">
                                <textarea class="input textarea is-normal" type="text" placeholder="Dein Kommentar" th:field=*{text}></textarea>
                            </div>
                            <p class="help" th:text="${'Eingeloggt als: ' + sessionUser.username}" th:if="${sessionUser != null}"></p>
                        </div>
                        <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
                        <button class="button is-success" type="submit">
                            Abschicken
                        </button>
                    </form>
                </div>
            </div>
        </div>
</section>

</body>
</html>
