<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Dein Blog<span class="animation"> |</span>
            </h1>
            <h2 class="subtitle">
                brought to you by David and Andi
            </h2>
        </div>
    </div>
</section>

<div class="container">
    <section style="margin: 20px 0px 20px 0px;">
        <div class="columns">
            <div th:if="${sessionUser == null}">
                <div class="column">
                    <a th:href="@{/login}">
                        <button class="button is-link is-focused is-rounded">Login</button>
                    </a>
                </div>
            </div>
            <div th:if="${sessionUser == null}">
                <div class="column">
                    <a th:href="@{/register}">
                        <button class="button is-link is-focused is-rounded">Registrieren</button>
                    </a>
                </div>
            </div>
            <div class="column">
                <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
                    <button type="submit" class="button is-danger is-focused is-rounded">Logout</button>
                </form>
            </div>
        </div>
    </section>

    <div class="container is-fullhd">
        <div class="message is-success">
            <div class="message-body" th:text="${'Willkommen Unbekannter'}" th:if="${sessionUser == null}"></div>
            <div class="message-body" th:text="${'Willkommen ' + sessionUser.username}" th:if="${sessionUser != null}"></div>
        </div>

        <div>
            <div th:each="article : ${articleList}">
                <div class="message" style="margin: 20px 0px 20px 0px;">
                    <div class="message-header" th:text="${article.title}"></div>
                    <div class="message-body" th:text="${article.text}"></div>
                    <!--Kommentar-Überschrift wird nur angezeigt, wenn es Kommentare gibt-->
                    <div>
                        <div class="message-header" style="background-color: grey;" th:if="${!(article.getComments().isEmpty())}">Kommentare:</div>
                        <div class="message-body">
                            <div th:each="comment: ${article.getComments()}">
                                @<strong th:text="${comment.getUser().getUsername()}"></strong>
                                ( <i th:text="${#dates.format(comment.postedAt)}"></i> ):
                                <br>
                                <span th:text="${comment.getText()}"></span>
                            </div>


                            <div th:if="${sessionUser != null}">
                                <a th:href="@{{id}/comment/add(id=${article.id})}">
                                    <button class="button is-outlined is-rounded" style="margin: 10px 0px 10px 0px;">
                                        Kommentieren
                                    </button>
                                </a>
                            </div>

                            <div th:if="${sessionUser == null}">
                                <a th:href="@{/login}">
                                    <button class="button is-outlined is-rounded" style="margin: 10px 0px 10px 0px;">
                                        Einloggen für Kommentarfunktion
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Ende im Gelände
            </p>
        </div>
    </footer>
</body>
</html>