<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--
<h1>Login</h1>
<form th:action="@{/login}" th:object="${login}" method="post">
    Username: <input type="text" th:field="*{username}"><br/>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    Passwort: <input type="password" th:field="*{password}"><br/>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <button type="submit">Login</button>
</form>
Noch keinen Account? <a th:href="@{/register}">Hier registrieren!</a>
-->

<section class="hero is-link is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form class="box" th:action="@{/login}" th:object="${login}" method="post">
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control has-icons-left">
                                <input type="text" placeholder="Username" class="input" th:field="*{username}">
                                <span class="icon is-small is-left">
                                     <i class="fa fa-user"></i>
                                </span>
                                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Passwort</label>
                            <div class="control has-icons-left">
                                <input type="password" placeholder="*******" class="input" th:field="*{password}">
                                <span class="icon is-small is-left">
                                     <i class="fa fa-lock"></i>
                                 </span>
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                            </div>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                Noch keinen Account?<br><a th:href="@{/register}">Hier registrieren!</a>
                            </label>
                        </div>
                        <div class="field">
                            <button class="button is-success" type="submit">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
